body{
    background-image: url("imagen.png")
}
h1{
    font-family: monospace;
    color: rgb(228, 41, 41);
    margin-top: 40px;
    
   }

div{
    display: grid;
    align-items: center;
    margin-top: 20%;
}
.base {
 padding: 20px 15px;
 background-color: rgb(218, 81, 202);
 border: 3px solid #238951;
 font-size: 16px;
 font-family: monospace;
 color: #164535;
 line-height: 1;
 border-radius: 10px;
 outline: none;
 cursor: pointer;
 margin: auto;
 border-radius: 5px;
 display: block;
 margin-bottom: 40px;
 
}